/*général*/
@import url('https://fonts.googleapis.com/css?family=Gotu&display=swap');
body{
    font-family: 'Gotu', sans-serif !important;
    background-image: url('/vues/assets/img/sport.png');
    background-repeat: repeat;
    background-size: 15%;
}
.container{
    background-color:white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: rgba(0,0,0,.5) 0 4px 3px;
    -moz-box-shadow: rgba(0,0,0,.5) 0 4px 3px;
    box-shadow: rgba(0,0,0,.5) 0 4px 3px;
}
.card-header{
    background-color:white;
    border-bottom: hidden;
   
}

/*barre de navigation*/
#navbar nav{
    background-color: white;
}
#navbar ul li a:hover{
    color: black;
}

/*page index*/
#pageone p{
    text-align: justify;
    font-family: 'Gotu', sans-serif !important;
}
#pageone .bouton{
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}
#pageone .bouton:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    }
@media screen and (max-width: 770px){
    #pageone .card-header{
        margin: auto;
        font-size: small;
    }
}

/*planning*/
#plan h3{
    font-size: 1rem;
}
#plan .tour{
    border-top: 0 !important;
    border-bottom: 0 !important;
    border: solid 1px rgba(187, 11, 11, .5);
}
.fa-arrow-circle-right, .fa-arrow-circle-left{
    color: rgb(10, 229, 245) !important;
    font-size: 1.5rem !important;
}

/*footer*/
#footer h5{
    display: flex;
    justify-content: center;
}
#footer ul li a{
    text-decoration: none;
    color: white !important;
    display: flex;
    justify-content: center;
}
#footer ul li a:hover{
    text-decoration: none;
    color: black;
}
#footer .copyright a{
    color: white;
}
#footer{
    background-color: white !important;
    margin-top: 67px;
}
#footer .box{
    border-left: 1rem solid white;
    border-right: 1rem solid white;
}
/* bouton radio du formulaire*/
.yell .yellto::before {
    background-color: rgb(240, 240, 151);
} 
/* This is the checked state */
.yell .yellone:checked~.yellto::before,
.yell .yellone:checked~.yellto::after {
    background-color: rgb(253, 253, 2);  
    /* this bg image SVG is just a white circle, you can replace it with any valid SVG code */
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E); 
    border-radius: 50%;
}    
/* the shadow; displayed while the element is in focus */
.yell .yellone:focus ~ .yellto::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(255, 123, 255, 0.25); /* pink, 25% opacity */
}
/*-----------------*/
.red .redto::before {
    background-color: rgb(240, 151, 151);
} 
/* This is the checked state */
.red .redone:checked~.redto::before,
.red .redone:checked~.redto::after {
    background-color: rgb(253, 10, 2);  
    /* this bg image SVG is just a white circle, you can replace it with any valid SVG code */
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E); 
    border-radius: 50%;
}    
/* the shadow; displayed while the element is in focus */
.red .redone:focus ~ .redto::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(255, 123, 255, 0.25); /* pink, 25% opacity */
}
/*---------------------------*/
.blu .bluto::before {
    background-color: rgb(151, 160, 240);
} 
/* This is the checked state */
.blu .bluone:checked~.bluto::before,
.blu .bluone:checked~.bluto::after {
    background-color: rgb(2, 102, 253);  
    /* this bg image SVG is just a white circle, you can replace it with any valid SVG code */
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E); 
    border-radius: 50%;
}    
/* the shadow; displayed while the element is in focus */
.blu .bluone:focus ~ .bluto::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(255, 123, 255, 0.25); /* pink, 25% opacity */
}
/*--------------------------------------*/
.green .greento::before {
    background-color: rgb(166, 240, 151);
} 
/* This is the checked state */
.green .greenone:checked~.greento::before,
.green .greenone:checked~.greento::after {
    background-color: rgb(37, 170, 4);  
    /* this bg image SVG is just a white circle, you can replace it with any valid SVG code */
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E); 
    border-radius: 50%;
}    
/* the shadow; displayed while the element is in focus */
.green .greenone:focus ~ .greento::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(255, 123, 255, 0.25); /* pink, 25% opacity */
}




.inscrit{
    background: #3399ff;
    padding:20px;
}
.inscrit li{
    background: #cce5ff;
    margin: 5px;
}

.etiquettesCours{
    max-width: 200px;
    background: #03bafc;
}